.wrapper {
    width: 100%;
    margin: 0 auto;
}
header {
    background: tomato;
    height: 70px;
}
.container {
    display: flex;
    height: auto;
}
.main {
    background: pink;
    width: 80%;
}
textarea{
    resize: none;
    width: 600px;
    height: 200px;
}

input[type="submit"]{
    background: darkblue;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 5px;
}

article {
	margin-top: 20px;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
}

article.reply {
    position: relative;
    margin-top: 15px;
    margin-left: 30px;
}
article.reply::before {
    position: absolute;
    top: -10px;
    left: 20px;
    display: block;
    content: "";
    border-top: none;
    border-left: 7px solid #f7f7f7;
    border-right: 7px solid #f7f7f7;
    border-bottom: 10px solid #fff;
}

.info {
    margin-bottom: 10px;
}
.info h2 {
    display: inline-block;
    margin-right: 10px;
    color: #222;
    line-height: 1.6em;
    font-size: 86%;
}
.info time {
    color: #999;
    line-height: 1.6em;
    font-size: 72%;
}
article p {
    color: #555;
    font-size: 86%;
    line-height: 1.6em;
}

.side {
    background: orange;
    width: 20%;
}
footer {
    background: plum;
    height: 70px;
}